<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Hảo Trương">
  <title><%= yield(:title) %></title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="Ngày đó chở theo ánh mắt trong trẻo nhìn cuộc đời không một chút hoài nghi, thế giới trong đồng tử của một đứa trẻ con bao giờ cũng đẹp tuyệt.">
  <meta property="og:image" content="<%= yield(:image) %>">
  <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type => "image/x-icon" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;display=swap&amp;subset=vietnamese">
</head>
<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=4039231286097323&autoLogAppEvents=1" nonce="2J6qldfq"></script>
  <div class="button_container">
    <div class="name_container">
      <i data-feather="align-right"></i>
    </div>
    <span id="line_one"></span>
    <span id="line_two"></span>
  </div>

  <div class="menu">
    <nav>
      <ul>
        <% Category.all.each do |category|%>
          <li>
            <a class="<%= 'current' if current_page?(category_path(category)) %>" href="<%= category_path(category) %>">
              <%= category.title %>
            </a>
          </li>
        <% end %>
        <li>
          <% if account_signed_in? %>
            <%= link_to destroy_account_session_path do %>
              <span>Đăng xuất</span>
            <% end %>
          <% else %>
            <%= link_to(account_facebook_omniauth_authorize_path) do %>
              <span>Login with facebook</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
    <span class="division_line"></span>
  </div>
  <div class="sidebar">
    <div class="logo-title">
      <div class="title">
          <a href="<%= root_path %>">
            <%= image_tag("logo.png",alt: "Logo", class: "logo") %>
          </a>
          <h1></h1>
          <div class="subtitle">
            <p><a href="https://www.facebook.com/haotv03" target="_blank">by Hảo Trương</a></p>
          </div>
          <div class="description">
            <p>✎﹏Trong cuộc đời này muốn thấy cầu vồng phải chờ hết cơn mưa﹏✮</p>
          </div>
      </div>
    </div>
    <ul class="social-links animated fadeInDown">
      <li><a href="https://www.facebook.com/haotv03" target="_blank"><i data-feather="facebook"></i></a></li>
      <li><a href="https://www.instagram.com/_haortruonq" target="_blank"><i data-feather="instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/haotv03" target="_blank"><i data-feather="linkedin"></i></a></li>
    </ul>
    <div class="footer">
      <div class="by_farbox"><span>Copyright &copy; 2021 haotruong. All Right Reserved.</span></div>
    </div>
  </div>
  <div class="main">
    <div class="page-top">
      <div class="nav">
        <ul>
          <% Category.all.each do |category|%>
            <li>
              <a class="<%= 'current' if current_page?(category_path(category)) %>" href="<%= category_path(category) %>">
                <%= category.title %>
              </a>
            </li>
          <% end %>
          <li>
            <% if account_signed_in? %>
              <%= current_account.name %>
              <%= image_tag current_account.avatar %>
              <%= link_to destroy_account_session_path do %>
                <i data-feather="log-out"></i>
              <% end %>
            <% else %>
              <%= link_to(account_facebook_omniauth_authorize_path) do %>
                <span>Login with facebook</span>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <script>
    $(document).ready(function(){
      feather.replace()
    });

    $(function() {
      $('#back-to-top').on('click', function(e) {
        e.preventDefault();
        $('html,body').animate({
          scrollTop: 0
        }, 700)
      })
    })

    window.onload = function() {
      $('.button_container').click(function(e) {
        e.preventDefault();
        $('body').toggleClass('overlay');
        $('.button_container').toggleClass('active');
        $('.menu').toggleClass('open');
      });
    };
  </script>
</body>
</html>
