<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Hảo Trương">
  <title><%= yield(:title) %></title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="Ngày đó chở theo ánh mắt trong trẻo nhìn cuộc đời không một chút hoài nghi, thế giới trong đồng tử của một đứa trẻ con bao giờ cũng đẹp tuyệt.">
  <meta property="og:image" content="<%= image_url('logo.png') %>">
  <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type => "image/x-icon" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;display=swap&amp;subset=vietnamese">
</head>
<body>
  <div class="sidebar">
    <div class="logo-title">
      <div class="title">
          <a href="">
            <%= image_tag("logo.png",alt: "Logo", class: "logo") %>
          </a>
          <h1></h1>
          <div class="subtitle">
            <p><a href="https://www.facebook.com/haotv03" target="_blank">by Hảo Trương</a></p>
          </div>
          <div class="description">
            <p>✎﹏Trong cuộc đời này muốn thấy cầu vồng phải chờ hết cơn mưa﹏✮</p>
          </div>
      </div>
    </div>
    <ul class="social-links animated fadeInDown">
      <li><a href="https://www.facebook.com/haotv03" target="_blank"><i data-feather="facebook"></i></i></a></li>
      <li><a href="https://www.instagram.com/_haortruonq" target="_blank"><i data-feather="instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/haotv03" target="_blank"><i data-feather="linkedin"></i></a></li>
    </ul>
    <div class="footer">
      <div class="by_farbox"><span>Copyright &copy; 2020 haotruong. All Right Reserved.</span></div>
    </div>
  </div>
  <div class="main">
    <div class="page-top">
      <div class="nav">
        <ul>
          <li>
            <%= link_to "Vài mẩu chuyện", root_path, class: 'current' if current_page?(root_path) %>
          </li>
          <li><a href="">1 chút info </a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <script>
    feather.replace()
    $(function() {
      $('#back-to-top').on('click', function(e) {
        e.preventDefault();
        $('html,body').animate({
          scrollTop: 0
        }, 700)
      })
    })
  </script>
</body>
</html>
